.ScrollSection {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-text-light);
  padding: 30px 0;

  span {
    font-size: 24px;
    color: var(--color-p1);
    font-weight: 100;
  }
}
