.HeroSection {
  height: 100lvh;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
  }

  .cont {
    height: 100lvh;
    @include flexCenter;
    z-index: 100;
    color: white;
    text-align: center;
    flex-direction: column;
    gap: 24px;

    padding-top: 150px;

    p {
      font-size: 24px;
      color: var(--color-text-light);
    }

    h1 {
      color: var(--color-text-light);
      font-size: 140px;
    }
  }

  @include respond-below(md) {
    background-position: center;

    .cont {
      gap: 10px;
      padding-top: 80px;

      h1 {
        font-size: 100px;
        margin: 0;
      }
      span {
        margin: -24px;
        display: block;
      }
    }
  }
}
