.SectionHeading {
  text-align: center;
  padding: 40px 0 20px 0;

  h2 {
    margin-bottom: 16px;
  }

  &.v1 {
    h2,
    p {
      color: var(--color-p1);
    }
  }

  &.v2 {
    h2 {
      color: var(--text-color-dark);
    }
    p {
      color: var(--color-p1);
    }
  }
}
