.CustomButton {
  border: none;
  border-radius: 15px;
  color: white;
  font-size: 1.1rem;
  font-weight: 600;
  cursor: pointer;
  transition: $transition-smooth;
  display: inline-flex;
  align-items: center;
  gap: 10px;
  justify-content: center;

  &:hover:not(:disabled) {
    transform: translateY(-3px);
  }
  &.v1 {
    padding: 16px 40px;
    background: $gradient-warm;
    min-width: 180px;

    &:hover {
      box-shadow: 0 12px 25px rgba(139, 21, 56, 0.4);
    }
  }

  &.v2 {
    padding: 6px 20px;
    background-color: var(--color-p1);
    opacity: 0.9;

    &:hover {
      box-shadow: 0 4px 10px rgba(139, 21, 56, 0.3);
      opacity: 1;
    }

    &:active {
      transform: translateY(0px);
    }
  }
}
