.CountDownSection {
  background-image: linear-gradient(45deg, var(--color-p3), white);
  padding: 150px 0;

  .cont {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 50px;

    svg {
      font-size: 40px;
      color: var(--color-p1);
    }

    h2 {
      font-size: 50px;
      color: var(--color-p1);
    }

    .countDownWrap {
      display: flex;

      justify-content: center;
      gap: 20px;
      .CountDownBox {
        @include flexCenter;
      }
    }
  }

  @include respond-below(md) {
    .cont {
      h2 {
        font-size: 35px;
      }

      .countDownWrap {
        display: grid;
        grid-template-columns: 140px 140px;
        margin: auto;
      }
    }
  }
}
