@import "~bootstrap/dist/css/bootstrap.min.css";

body {
  background-color: var(--color-p4);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth !important;
  transition: 0.2s;
}

section {
  width: 100wv;
  overflow: hidden;
}

a {
  text-decoration: none;
  color: black;
  margin: 0;
  padding: 0;
}
p {
  margin: 0;
  padding: 0;
}
