.GlimpseSection {
  background-color: var(--color-text-light);
  position: relative;

  &::before {
    content: "";
    position: absolute;
    height: 50%;
    width: 100%;
    background-color: rgb(250, 250, 250);
    bottom: 0;
    left: 0;
  }

  .Box {
    width: 480px;
    margin: 0 auto 70px auto;

    .img {
      height: 640px;
      background-position: top center;
      margin-bottom: 30px;
      box-shadow: 10px 10px 10px var(--color-p2);
      border-radius: 10px;
    }

    b {
      font-size: 40px;
      color: var(--color-text-dark);
      color: var(--color-p1);
    }

    small {
      display: block;
      color: rgb(90, 90, 90);
      font-size: 16px;
    }

    P {
      margin-top: 10px;
      color: var(--color-text-dark);
      font-size: 15px;
    }
  }

  @include respond-below(md) {
    .Box {
      width: 100%;
      padding: 0 20px 20px 20px;
      .img {
        height: 550px;
      }
    }
  }
}
